@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Gabarito&family=PT+Serif:wght@700&family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #131317;
    margin: 0;
    color: #ffffff;
    scroll-behavior: smooth;
    
}




html {
font-size: 62.5%;
overflow-x: hidden;
}

:root {
    --bg-color: #16161a;
    --second-bg-color: #242629;
    --text-color: #fffffe;
    --main-color: #7f5af0;
}


header {
    color: #fff;
    text-align: right; /* Align the navbar to the right */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4% ;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

section a {
    background-color: black;
}

span{
    color: #000000;
    opacity: 50%;
}


.vid h3{
    color: rgba(77, 28, 133, 0.9);
    text-align: center;
    font-size: 10rem;
    opacity: 40%;
    margin-bottom: 10rem;

}



.image-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.image-container img {
    width: 48%;
    max-width: 100%;
    height: auto;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .image-container {
        flex-direction: column; /* Stack images vertically on smaller screens */
    }

    .image-container img {
        width: 100%; /* Make images take full width on smaller screens */
        margin-bottom: 40px; /* Add margin between stacked images */
    }
}






.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}

video {
    width: 100%;
    height: auto;
}



.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color) ;
    border-radius: 5rem;
    box-shadow: 1rem var(--main-color) ;
    font-size: 1.6rem;
    color: var(--second-bg-color) ;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    background: linear-gradient(rgb(107, 47, 149), #7f5af0);
}


.btn:hover {
    background: #7f5af0;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #7f5af0,
                0 0 25px #7f5af0,
                0 0 50px #7f5af0,
                0 0 100px #7f5af0;

}




.navbar {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: blue;
}

/* Add styling for the other sections as needed */


.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 0px;
    margin-right: 0.99rem;
    display: inline;
    transition: .3s;
    text-align: center;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}



.header i{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    margin-left: 35rem;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}



.pic1 img{
    width: 100%;
    height: 10%;
    margin: 0;
    padding: none;
 
}
section {
    margin-bottom: 30px;
    margin: 20px;
    font-size: 150%;
    background-color: #242629;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #7f5af0;
}

p {
    line-height: 1.6;
}

/* Add more custom styles as needed */


        
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 3%;
    background-color: #262525;
    color: #fff;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover {
    background: #7f5af0;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #7f5af0,
                0 0 25px #7f5af0,
                0 0 50px #7f5af0,
                0 0 100px #7f5af0;
}

.footer-icon a i{
    font-size: 2.4rem;
    color: var(--second-bg-color)
}

.logo {
font-size: 2.5rem;
color: var(--text-color);
font-weight: 600;
cursor: default;
}

.navbar a {
font-size: 1.7rem;
color: var(--text-color);
padding: 0px;
margin-right: 0.99rem;
display: inline;
transition: .3s;
text-align: center;
}

.navbar a:hover,
.navbar a.active {
color: var(--main-color);
}







a {
    text-decoration: none;
  }

:root {
    --bg-color: #16161a;
    --second-bg-color: #242629;
    --text-color: #fffffe;
    --main-color: #7f5af0;
}




.navbar {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: blue;
}

/* Add styling for the other sections as needed */



.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 0px;
    margin-right: 0.99rem;
    display: inline;
    transition: .3s;
    text-align: center;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}



.header i{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    margin-left: 35rem;
}






@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .footer{
        padding: 2rem 3%;
    }
    
}
    




canvas{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: —1
}





@media (max-width: 768px) {
    #menu-icon {
        display: block;
        margin-left: 40rem;
        
    }

    .navbar {
        position: absolute;  
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }


    .navbar.active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    

    .home{
        flex-direction: column;
        padding: 20%;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: -22rem;
        

    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        position: center;
        top: 50%;
        size: 1rem;
        left: 50%;
        width: 100%;
        height: 100%;
    }

    .about-content {
        margin-top: 5rem;
    }


    .experience h3 {
        margin-bottom: 3rem;
    }


    .projects h2 {
        margin-bottom: 3rem;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media (max-width: 617px) {
    #menu-icon {
        display: block;
        margin-left: 20rem;
        
    }
    .projects-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 450px) {
    #menu-icon {
        display: block;
        margin-left: 16rem;
        
    }


    html {
        font-size: 50%;
    }
}

@media (max-width: 425px) {
    #menu-icon {
        display: block;
        margin-left: 16rem;
        
    }



    html {
        font-size: 48%;
    }
    body {
        margin: center;
    }
}


@media (max-width: 320px) {
    html {
        font-size: 50%;
    }

    .home-img img {
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}


.webpic:hover{
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}




canvas{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: —1
}



